<footer class="module-footer"
		data-plugin="moduleFooter">
	<div class="diagonal-line-wrapper">
		<div class="diagonal-line"></div>
	</div>
	<div class="container-fluid">
		<div class="footer-social-links mb-5">
			<div class="module-social">
				<ul class="social-list clearfix list-unstyled">
					<li class="social-icon">
						<div class="module-button ">
							<a href="https://www.facebook.com/BoschRexroth" target="_blank" class="btn btn-secondary "></a>
							<div class="button-animation"></div>
							<div class="button-content">
								<i class="icon icon-dc_facebook_b"></i>
							</div>
						</div>
					</li>
					<li class="social-icon">
						<div class="module-button ">
							<a href="https://www.linkedin.com/company/bosch-rexroth" target="_blank" class="btn btn-secondary "></a>
							<div class="button-animation"></div>
							<div class="button-content">
								<i class="icon icon-dc_linkedin_b"></i>
							</div>
						</div>
					</li>
					<li class="social-icon">
						<div class="module-button ">
							<a href="https://www.youtube.com/c/boschrexrothag/featured" target="_blank" class="btn btn-secondary "></a>
							<div class="button-animation"></div>
							<div class="button-content">
								<i class="icon icon-dc_youtube_b"></i>
							</div>
						</div>
					</li>
					<li class="social-icon">
						<div class="module-button ">
							<a href="https://twitter.com/BoschRexroth" target="_blank" class="btn btn-secondary "></a>
							<div class="button-animation"></div>
							<div class="button-content">
								<i class="icon icon-dc_twitter_b"></i>
							</div>
						</div>
					</li>
					<!-- <li class="social-icon">
						<div class="module-button ">
							<a href="https://www.instagram.com/boschrexroth_global" target="_blank" class="btn btn-secondary "></a>
							<div class="button-animation"></div>
							<div class="button-content">
								<i class="icon icon-dc_instagram_b"></i>
							</div>
						</div>
					</li> -->
				</ul>
			</div>


		</div>
		<!-- <div class="row footer-links">
			<div class="col-md-4">
				<p class="headline text-uppercase">Related Links</p>
				<div class="row">
					<div class="col-lg-6">
						<ul class="list-unstyled">
							<li>
								<a href="#">Rexroth Technology Tours</a>
							</li>
							<li>
								<a href="#">Download CAD files</a>
							</li>
							<li>
								<a href="#">Trade Shows and Events</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-6">
						<ul class="list-unstyled">
							<li>
								<a href="#">Bosch Rexroth Apps</a>
							</li>
							<li>
								<a href="#">Customer Feedbacks</a>
							</li>
							<li>
								<a href="#">Configurators & Tools</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<p class="headline text-uppercase">Company</p>
				<div class="row">
					<div class="col-lg-6">
						<ul class="list-unstyled">
							<li>
								<a href="#">About Bosch Rexroth</a>
							</li>
							<li>
								<a href="#">Press</a>
							</li>
							<li>
								<a href="#">Newsletter</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-6">
						<ul class="list-unstyled">
							<li>
								<span class="open-country-selection flyout-toggle only-desktop footer-link"
									  data-event-bubbling-intercept="header.outsideClick"
									  href="#">
									<i class="icon icon-dc_globe"></i>
									Websites worldwide
								</span>
								<span class="open-language-select only-mobile footer-link">
									<i class="icon icon-dc_globe"></i>
									Websites worldwide
								</span>
							</li>
							<li>
								<a href="#">Jobs and Careers</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<p class="headline text-uppercase">Location</p>
				<div class="module-dropdown ">
					<div class="input-animation-wrapper">
						<label for="location">
							Location
						</label>
						<select id="location"
								class="custom-select location-select">
							<option value="index.html">Germany</option>
							<option value="module-header-multilanguage-selection.html">Turkey</option>
							<option value="module-header-multilanguage-selection.html">Canada</option>
						</select>
						<div class="input-animation"></div>
					</div>
					<span class="error-message"></span>
				</div>
				<div class="module-dropdown ">
					<div class="input-animation-wrapper">
						<label for="language">
							Language
						</label>
						<select id="language"
								class="custom-select language-select">
							<option value="index.html">German</option>
							<option value="module-header-multilanguage-selection.html">Turkish</option>
							<option value="module-header-multilanguage-selection.html">English</option>
						</select>
						<div class="input-animation"></div>
					</div>
					<span class="error-message"></span>
				</div>
			</div>
		</div> -->
		<div class="footer-meta">
			<div class="footer-copyright">© Bosch Rexroth AG 2014-2022, all rights reserved</div>
			<div class="meta-links">
				<a href="https://www.boschrexroth.com/en/xc/home/imprint">Imprint</a>
        <a href="https://www.boschrexroth.com/en/xc/home/privacy">Privacy</a>
        <a href="https://www.boschrexroth.com/en/xc/home/legal">Legal</a>
        <a href="https://www.boschrexroth.com/en/xc/home/certificates">Certifications</a>
        <a href="https://www.boschrexroth.com/en/xc/home/purchasing-logistics">Purchase and Logistics</a>
        <a href="#" id="cookie-settings" data-event="click|footer|footerlink|cookies" data-show-privacy-settings>Cookie Settings</a>
			</div>
		</div>
	</div>
	<div class="module-back-to-top"
		 data-plugin="moduleBackToTop">
		<div class="container-max">
			<div class="module-button">
				<button type="button" class="btn btn-secondary btn-lg"></button>
				<div class="button-animation"></div>
				<div class="button-content">
					<i class="icon icon-dc_down_double"></i>
				</div>
			</div>
		</div>
	</div>
</footer>
