<!-- <app-header *ngIf = "ManagepagesService.currenturl2() === true"></app-header> *ngIf="checkRouteUrl()"-->
<div class="breadcrumb" *ngIf="checkRouteUrl12()">
  <xng-breadcrumb [separator]="iconTemplate" (click)="onmachine()"></xng-breadcrumb>
  <ng-template #iconTemplate>
    <i class="icon icon-dc_forward_right"></i>
  </ng-template>
</div>
<router-outlet></router-outlet>



<!-- <app-material></app-material> -->
<div class="setview" *ngIf="ManagepagesService.machinepagecontent === true">
  <div class="component-headline" style="min-height: 333px;">
    <h2 class="maintitle">
      Machine List
      
      <!-- <input type="text" [(ngModel)]="nam"  ><br/>
      {{nam}} -->
    </h2>
    

    <!-- upload start  -->
  <!-- <div >
    <div class="col-4" style="    display: inline-block;  ">
      <div class="component-file-selector show-file-name "
          data-plugin="moduleFileSelector" >
        <div class="form-group" style="border: 1px solid black;">
          <div class="file-selector-wrapper">
            <input type="file" name="file" id="file" class="file-selector" (change)="incomingfile($event)" multiple="false">
            <div class="file-name-container">
              <span class="file-name"></span>
            </div>
            <div class="module-button ">
              <button type="button" class="btn btn-light " ></button>
              <div class="button-animation"></div>
              <div class="button-content">
                <span class="content-text">Select File</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1">
      <div class="module-button ">
        <button type="button" class="btn btn-secondary " (click)="sendFiledata()"></button>
        <div class="button-animation"></div>
        <div class="button-content">
          <i class="icon icon-dc_upload"></i>
        </div>
      </div>
    </div>
  </div> -->


    <!-- end upload  -->


    <div class="subline lead">
      <div class="module-button button" style="float: right;" (click)="modalToOpen()">
        <button type="button" class="btn btn-secondary"></button>
        <div class="button-animation"></div>
        <div class="button-content">
          <i class="iconheader rb-document-add"></i>
          <span class="content-text" style="font-weight: 700; user-select: none;">Add New Machine</span>
        </div>
      </div>
      <!-- <div class="module-button button" style="float: right; padding-left: 5px;" (click)="modalToOpen1()">
        <button type="button" class="btn btn-secondary" style="padding: 5px; "></button>
        <div class="button-animation"></div>
        <div class="button-content">
          <i class="iconheader rb-document-add"></i>
          <span class="content-text" style="font-weight: 700; user-select: none;">Multi ENTRY</span>
        </div>
      </div> -->

      <div class="col-3" style="    display: inline-block;  ">
        <img src="https://www.logo.wine/a/logo/Bosch_Rexroth/Bosch_Rexroth-Logo.wine.svg"alt="logo" width="200" height="150" style="   display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left : 590px;
">
      </div>
    

      <div class="module-table table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="highlight text-center" colspan="12" style="background-color: #002B49; color:white ;width:100%" > Customer Name :  {{this.projectname}}</th>
            </tr>
            <tr *ngIf="!countrecord">
              <th class="highlight text-center">
                ID
              </th>
              <th class="highlight text-center">
                MACHINE NAME
              </th>
              <th class="text-center highlight">
                DESCRIPTION
              </th>
              <th class="text-center highlight">
                MACHINE PHASE
              </th>
              <th class="highlight">
                INDUSTRY SECTOR 1
              </th>
              <th class="highlight">
                INDUSTRY SECTOR 2
              </th>
              <th class="highlight">
                APPLICATION
              </th>
              <th class="text-center highlight">
                ACTIONS
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="countrecord">
              <td class="text-center">
                {{showmessage}}
              </td>
            </tr>
            <tr *ngFor="let machinedetails of showProducts; let i = index">
              <td class="text-center">
                <span>{{i+1}}</span>
              </td>
              <td class="text-center">
                <span *ngIf="!machinedetails.editable">{{machinedetails.machine_name}}</span>
                <input type="text" style="text-align: center;" class="form-control"
                  [(ngModel)]="machinedetails.machine_name" *ngIf="machinedetails.editable" />
              </td>
              <td class="text-center">
                <span *ngIf="!machinedetails.editable">{{machinedetails.machine_description}}</span>
                <input type="text" style="text-align: center;" class="form-control"
                  [(ngModel)]="machinedetails.machine_description" *ngIf="machinedetails.editable" />
              </td>
              <td class="">
                <span *ngIf="!machinedetails.editable">{{machinedetails.machine_phase}}</span>
                <div class="module-dropdown" *ngIf="machinedetails.editable">
                  <div class="input-animation-wrapper">
           <!--                     <label for="demo-dropdown-3">Machine Status *</label-->
 <span *ngIf="!machinedetails.editable">{{machinedetails.machine_phase}}</span>
 <select id="demo-dropdown-3" class="custom-select " name="demo-dropdown-3"
                      data-bouncer-target="#demo-dropdown-3-error" required="required"
                      [(ngModel)]="machinedetails.machine_phase">
                      <option disabled selected value="">--- Please select ---</option>
                      <option value="LEAD - Potential">LEAD - Potential</option>
                      <option value="HG0 - Request for Quotation = 15%">HG0 - Request for Quotation = 15%</option>
                      <option value="HG1 - Initial Offering = 25%">HG1 - Initial Offering = 25%</option>
                      <option value="HG2 - Positive Negotiation = 50%">HG2 - Positive Negotiation = 50%</option>
                      <option value="HG3 - Prototype Construction Done = 75%">HG3 - Prototype Construction Done = 75%
                      </option>
                      <option value="HG4 - Series Production Order Advised = 100%">HG4 - Series Production Order Advised
                        = 100%</option>
                      <option value="HG5 - In serial Production / Production finished">HG5 - In serial Production /
                        Production finished</option>
                      <option value="LOST - Machine to Competitor">LOST - Machine to Competitor</option>
                      <option value="STOP - Machine by Customer / Inactive">STOP - Machine by Customer / Inactive
                      </option>
                    </select>
                    <p *ngIf="addmachine.get('phase').touched && addmachine.get('phase').invalid" class="danger">Please
                      select machine status.</p>
                    <div class="input-animation"></div>
                  </div>
                  <div id="demo-dropdown-3-error" class="error-message-wrapper"></div>
                </div>
                <!-- <input type="text" style="text-align: center;" class="form-control" [(ngModel)]="machinedetails.machine_phase" *ngIf="machinedetails.editable"/> -->
              </td>
              <td>
                <span *ngIf="!machinedetails.editable">{{machinedetails.group1_name}}</span>
                <!-- <div class="col-3"> -->
                <div class="module-dropdown" *ngIf="machinedetails.editable">
                  <div class="input-animation-wrapper">
<!--                     <label for="demo-default">Industry Sector 1</label>
 -->

              <select #industrygroup1 (change)="onchangeindustrysectorGroup(industrygroup1.value)"
                      (click)="onchangeindustrysectorGroup(industrygroup1.value)" id="demo-default" class="custom-select "
                      [(ngModel)]="machinedetails.group1_id">
                      <!-- <option selected [value]="machinedetails.group1_id">{{machinedetails.group1_name}}</option> -->
                      <option *ngFor="let i of industrysectorgroup1" [value]="i.group1_id">
                        {{i.group1_name}}
                      </option>
                    </select>
                    <div class="input-animation"></div>
                  </div>
                  <div id="demo-default-error" class="error-message-wrapper"></div>
                </div>
                <!-- </div> -->
                <!-- <input type="text" style="text-align: center;" class="form-control" [(ngModel)]="machinedetails.industry_sector" *ngIf="machinedetails.editable"/> -->
              </td>

              <td>
                <span *ngIf="!machinedetails.editable">{{machinedetails.group2_name}}</span>
                <!-- <div class="col-3"> -->
                <div class="module-dropdown" *ngIf="machinedetails.editable">
                  <div class="input-animation-wrapper">
                   <!--  <label for="demo-default">Industry Sector 2</label> -->
                    <select #industry (change)="onchangeindustrysector(industry.value)"
                      (click)="onchangeindustrysector(industry.value);" id="demo-default" class="custom-select "
                      [(ngModel)]="machinedetails.group2_id">
                      <option [value]="machinedetails.group2_id" *ngIf="!hideMachine">{{machinedetails.group2_name}}</option>
                      <option *ngFor="let i of industrysectors" [value]="i.group2_id">
                        {{i.group2_name}}
                      </option>
                    </select>
                    <div class="input-animation"></div>
                  </div>
                  <div id="demo-default-error" class="error-message-wrapper"></div>
                </div>
                <!-- </div> -->
                <!-- <input type="text" style="text-align: center;" class="form-control" [(ngModel)]="machinedetails.industry_sector" *ngIf="machinedetails.editable"/> -->
              </td>

              <td>
                <span *ngIf="!machinedetails.editable">{{machinedetails.group3_name}}</span>
                <!-- <input type="text" style="text-align: center;" class="form-control" [(ngModel)]="machinedetails.application" *ngIf="machinedetails.editable"/> -->
                <div class="module-dropdown" *ngIf="machinedetails.editable">
                  <div class="input-animation-wrapper">
                    <label for="demo-default">Application</label>
                    <select id="demo-default" class="custom-select " [(ngModel)]="machinedetails.industry_sector_code">
                      <option selected [value]="machinedetails.industry_sector_code" *ngIf = "hideApplication">{{machinedetails.group3_name}}</option>
                      <option *ngFor="let app of application" [value]="app.industry_sector_code">
                        {{app.group3_name}}
                      </option>
                    </select>
                    <div class="input-animation"></div>
                  </div>
                  <div id="demo-default-error" class="error-message-wrapper"></div>
                </div>
              </td>
              <td style="width: 18%;" class="text-center">
                <!-- [routerLink]="['/SPDashboard/Add_project/Add_Machine/Add_Material']" -->
                <div class="module-button icon" (click)="GoToMaterials(machinedetails.machine_id)"
                  *ngIf="!machinedetails.editable">
                  <button type="button" class="btn btn-secondary"></button>
                  <div class="button-animation"></div>
                  <div class="button-content">
                    <i class="icon icon-dc_folder_open"></i>
                  </div>
                </div>
                <div class="module-button icon" (click)="inlineedit(machinedetails)" *ngIf="!machinedetails.editable">
                  <button type="button" class="btn btn-light "></button>
                  <div class="button-animation"></div>
                  <div class="button-content">
                    <i class="icon icon-dc_edit"></i>
                  </div>
                </div>
                <div class="module-button icon" (click)="save(machinedetails)" *ngIf="machinedetails.editable">
                  <button type="button" class="btn btn-secondary "></button>
                  <div class="button-animation"></div>
                  <div class="button-content">
                    <i class="icon icon-dc_save"></i>
                  </div>
                </div>

                <div
                class="module-button icon bg-danger"
                *ngIf="machinedetails.editable"
                (click)="close(machinedetails)"
              >
                <button type="button" class="btn btn-secondary"></button>
                <div class="button-animation"></div>
                <div class="button-content">
                  <i class="icon icon-dc_close"></i>
                </div>
              </div>
                <div class="module-button " *ngIf="!machinedetails.editable">
                  <button type="button" class="btn btn-primary "
                    (click)="deletemodelopen(machinedetails.machine_id)"></button>
                  <div class="button-animation"></div>
                  <div class="button-content">
                    <i class="icon icon-dc_delete"></i>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Pagination Starts -->
      <div class="module-pagination module-block" data-plugin="modulePagination" *ngIf = "!countrecord">
        <div class="paging-container">
          <div class="results-per-page">
            <p class="paging-title">Results per page:</p>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <div class="module-button " (click)="onChangeRowsPerPage(10)">
                <a class="btn btn-light btn-sm "></a>
                <div class="button-animation"></div>
                <div class="button-content" [ngClass]="{'active-class': rowsPerPage==10}">
                  <span class="content-text">10</span>
                </div>
              </div>
              <div class="module-button " (click)="onChangeRowsPerPage(15)">
                <a class="btn btn-light btn-sm btn-ghost"></a>
                <div class="button-animation"></div>
                <div class="button-content" [ngClass]="{'active-class': rowsPerPage==15}">
                  <span class="content-text">15</span>
                </div>
              </div>
              <div class="module-button " (click)="onChangeRowsPerPage(20)">
                <a class="btn btn-light btn-sm btn-ghost"></a>
                <div class="button-animation"></div>
                <div class="button-content" [ngClass]="{'active-class': rowsPerPage==20}">
                  <span class="content-text">20</span>
                </div>
              </div>
              <!-- <div class="module-button " (click)="onChangeRowsPerPage(100)">
                <a class="btn btn-light btn-sm btn-ghost"></a>
                <div class="button-animation"></div>
                <div class="button-content" [ngClass]="{'active-class': rowsPerPage==100}">
                  <span class="content-text">ALL</span>
                </div>
              </div> -->
            </div>
          </div>
          <div class="paging">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <div class="module-button " *ngIf="actualPage !== 1" (click)="onPageChange(actualPage-1)">
                <a class="btn btn-light btn-sm btn-ghost arrow"></a>
                <div class="button-animation"></div>
                <div class="button-content">
                  <i class="icon icon-dc_backward_left"></i>
                </div>
              </div>
              <div class="module-button " *ngIf="actualPage-1>0" (click)="onPageChange(actualPage-1)">
                <a class="btn btn-light btn-sm "></a>
                <div class="button-animation"></div>
                <div class="button-content" style="background-color: white; color: black; border: black;">
                  <span class="content-text">{{actualPage-1}}</span>
                </div>
              </div>
              <div class="module-button " (click)="onPageChange(actualPage)">
                <a class="btn btn-light btn-sm btn-ghost"></a>
                <div class="button-animation"></div>
                <div class="button-content active-class">
                  <span class="content-text ">{{actualPage}}</span>
                </div>
              </div>
              <div class="module-button hide-mobile" *ngIf="endPaging>=2 && actualPage+1<=endPaging"
                (click)="onPageChange(actualPage+1)">
                <a class="btn btn-light btn-sm btn-ghost"></a>
                <div class="button-animation"></div>
                <div class="button-content">
                  <span class="content-text">{{actualPage+1}}</span>
                </div>
              </div>
              <div class="module-button hide-mobile" *ngIf="actualPage-1==0 && endPaging>2"
                (click)="onPageChange(actualPage+2)">
                <a class="btn btn-light btn-sm btn-ghost"></a>
                <div class="button-animation"></div>
                <div class="button-content">
                  <span class="content-text">{{actualPage+2}}</span>
                </div>
              </div>
              <!-- option -->
              <div class="module-button" *ngIf="endPaging>=5">
                <button type="button" class="btn btn-light btn-sm btn-ghost dots" (click)="prevnext()"></button>
                <div class="button-content">
                  <i class="icon icon-dc_options"></i>
                </div>
              </div>
              <!-- option end -->


              <div class="module-button " *ngIf="endPaging>=4 && actualPage!=endPaging && actualPage+1!=endPaging"
                (click)="onPageChange(endPaging)">
                <a class="btn btn-light btn-sm btn-ghost"></a>
                <div class="button-animation"></div>
                <div class="button-content">
                  <span class="content-text">{{endPaging}}</span>
                </div>
              </div>
              <div class="module-button " *ngIf="actualPage+1<=endPaging" (click)="onPageChange(actualPage+1)">
                <a class="btn btn-light btn-sm btn-ghost arrow"></a>
                <div class="button-animation"></div>
                <div class="button-content">
                  <i class="icon icon-dc_forward_right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
    </div>
  </div>
  <div class="module-modal modal" id="addmachinemodel" data-plugin="moduleModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-close">
          <div class="module-button ">
            <button type="button" class="btn btn-link " (click)="modalClose()"></button>
            <div class="button-animation"></div>
            <div class="button-content">
              <i class="icon icon-dc_close"></i>
            </div>
          </div>
        </div>
        <div class="modal-header">
          <p class="headline h5 modal-title">
            Add Machine
          </p>
        </div>
        <div class="modal-body">
          <p>
            Customer Name: <b style="text-transform: uppercase;">{{projectname}}</b>
          </p>
          <form [formGroup]="addmachine">
            <div class="row">
              <div class="col-12">
                <div class="module-input form-group has-placeholder" data-plugin="moduleInput">
                  <label for="demo-default-input-1"> Machine Name * </label>
                  <div class="input-animation-wrapper">
                    <input type="text" id="demo-default-input-1" class="form-control" value=""
                      placeholder="Enter Machine Name" name="demo-default-input-1"
                      data-bouncer-target="#demo-default-input-1-error" required="required"
                      formControlName="machinename" />
                    <p *ngIf="addmachine.get('machinename').touched && addmachine.get('machinename').invalid"
                      class="danger">Please enter machine name.</p>
                    <div class="input-animation"></div>
                  </div>
                  <div id="demo-default-input-1-error" class="error-message-wrapper"></div>
                </div>
              </div>
              <div class="col-12">
                <div class="module-input form-group has-placeholder" data-plugin="moduleInput">
                  <label for="demo-default-input-2"> Description * </label>
                  <div class="input-animation-wrapper">
                    <input type="text" id="demo-default-input-2" class="form-control" value="" placeholder="Description"
                      name="demo-default-input-2" data-bouncer-target="#demo-default-input-2-error" required="required"
                      formControlName="desc" />
                    <p *ngIf="addmachine.get('desc').touched && addmachine.get('desc').invalid" class="danger">Please
                      enter machine's description.</p>
                    <div class="input-animation"></div>
                  </div>
                  <div id="demo-default-input-2-error" class="error-message-wrapper"></div>
                </div>
              </div>
              <!-- <span style="margin-left: 15px;">Technology: </span> &nbsp;&nbsp; -->
              <!-- <div class="module-radio custom-control custom-radio"> <input type="radio" id="custom-radio-1"
                  name="technology" value="Industrial" #tech_industry class="custom-control-input"
                  (click)="submitForm(tech_industry.value)">
                <label class="custom-control-label" for="custom-radio-1">
                  Industrial </label>
              </div>&nbsp;&nbsp;
              <div class="module-radio custom-control custom-radio"> <input type="radio" id="custom-radio-2"
                  name="technology" value="Mobile" #tech_mobile class="custom-control-input"
                  (click)="submitForm(tech_mobile.value)">
                <label class="custom-control-label" for="custom-radio-2">
                  Mobile </label>
              </div> -->
              <!-- <div class="col-12">
                <span>Application: </span> &nbsp;&nbsp;
                <span  *ngFor="let appval of industry_sector_g1; let i=index"><input name="application" class="module-radio " style="cursor: pointer;" #app_val  [value]="appval.industry_sec_group" (click)="submitTechnologyForm(app_val.value)" type="radio" id="custom-radio-21{{i}}" > <label class="customradio" style="cursor: pointer;" for="custom-radio-21{{i}}" (click)="submitTechnologyForm(app_val.value)"> {{appval.industry_sec_group}} </label> &nbsp;&nbsp;</span>

              </div> -->
              <!-- <div class="col-12">
                <div class="module-dropdown">
                  <div class="input-animation-wrapper">
                    <label for="demo-dropdown-6">Industry Sector Group 1*</label>
                    <select #industryg1 (change)="onchangeindustrysectorg1(industryg1.value)" id="demo-dropdown-6"
                      class="custom-select " name="demo-dropdown-6" data-bouncer-target="#demo-dropdown-6-error"
                      required="required" formControlName="isg1">
                      <option disabled selected value="">--- Please select ---</option>
                      <option *ngFor="let ig1 of industry_sector_g11" [value]="ig1.industry_sec_group_1">
                        {{ig1.industry_sec_group_1}}
                      </option>
                    </select>
                    <div class="input-animation"></div>
                  </div>
                  <div id="demo-dropdown-6-error" class="error-message-wrapper"></div>
                </div>
              </div> -->
              <div class="col-12">
                <div class="module-dropdown">
                  <div class="input-animation-wrapper">
                    <label for="demo-dropdown-11">Industry Sector Group1 *</label>
                    <select #industrygroup1 (change)="onchangeindustrysectorGroup(industrygroup1.value)"
                      id="demo-dropdown-11" class="custom-select " name="demo-dropdown-11"
                      data-bouncer-target="#demo-dropdown-11-error" required="required" formControlName="industrygroup1">
                      <option disabled selected value="">--- Please select ---</option>
                      <option *ngFor="let i of industrysectorgroup1" [value]="i.group1_id">
                        {{i.group1_name}}
                      </option>
                    </select>
                    <p *ngIf="addmachine.get('industrygroup1').touched && addmachine.get('industrygroup1').invalid" class="danger">
                      Please select industry sector 1.</p>
                    <div class="input-animation"></div>
                  </div>
                  <div id="demo-dropdown-11-error" class="error-message-wrapper"></div>
                </div>
              </div>

              <div class="col-12">
                <div class="module-dropdown">
                  <div class="input-animation-wrapper">
                    <label for="demo-dropdown-1">Industry Sector Group 2 *</label>
                    <select #industry (change)="onchangeindustrysector(industry.value)" id="demo-dropdown-1"
                      class="custom-select " name="demo-dropdown-1" data-bouncer-target="#demo-dropdown-1-error"
                      required="required" formControlName="industry">
                      <option disabled selected value="">--- Please select ---</option>
                      <option *ngFor="let i of industrysectors" [value]="i.group2_id">
                        {{i.group2_name}}
                      </option>
                    </select>
                    <p *ngIf="addmachine.get('industry').touched && addmachine.get('industry').invalid" class="danger">
                      Please select industry sector 2.</p>
                    <div class="input-animation"></div>
                  </div>
                  <div id="demo-dropdown-1-error" class="error-message-wrapper"></div>
                </div>
              </div>
              <div class="col-12">
                <div class="module-dropdown">
                  <div class="input-animation-wrapper">
                    <label for="demo-dropdown-2">Application *</label>
                    <select id="demo-dropdown-2" class="custom-select " name="demo-dropdown-2"
                      data-bouncer-target="#demo-dropdown-2-error" required="required" formControlName="application">
                      <option disabled selected value="">--- Please select ---</option>
                      <option *ngFor="let app of application" [value]="app.industry_sector_code">
                        {{app.group3_name}}
                      </option>
                    </select>
                    <p *ngIf="addmachine.get('application').touched && addmachine.get('application').invalid"
                      class="danger">Please select application.</p>
                    <div class="input-animation"></div>
                  </div>
                  <div id="demo-dropdown-2-error" class="error-message-wrapper"></div>
                </div>
              </div>
              <div class="col-12">
                <div class="module-dropdown">
                  <div class="input-animation-wrapper">
                    <label for="demo-dropdown-3">Machine Status *</label>
                    <select id="demo-dropdown-3" class="custom-select " name="demo-dropdown-3"
                      data-bouncer-target="#demo-dropdown-3-error" required="required" formControlName="phase">
                      <option disabled selected value="">

                      </option>
                      <option value="LEAD - Potential">LEAD - Potential</option>
                      <option value="HG0 - Request for Quotation = 15%">HG0 - Request for Quotation = 15%</option>
                      <option value="HG1 - Initial Offering = 25%">HG1 - Initial Offering = 25%</option>
                      <option value="HG2 - Positive Negotiation = 50%">HG2 - Positive Negotiation = 50%</option>
                      <option value="HG3 - Prototype Construction Done = 75%">HG3 - Prototype Construction Done = 75%
                      </option>
                      <option value="HG4 - Series Production Order Advised = 100%">HG4 - Series Production Order Advised
                        = 100%</option>
                      <option value="HG5 - In serial Production / Production finished">HG5 - In serial Production /
                        Production finished</option>
                      <option value="LOST - Machine to Competitor">LOST - Machine to Competitor</option>
                      <option value="STOP - Machine by Customer / Inactive">STOP - Machine by Customer / Inactive
                      </option>
                    </select>
                    <p *ngIf="addmachine.get('phase').touched && addmachine.get('phase').invalid" class="danger">Please
                      select machine status.</p>
                    <div class="input-animation"></div>
                  </div>
                  <div id="demo-dropdown-3-error" class="error-message-wrapper"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-2 col-md-2">
                <span class="mandatory-info">* Mandatory</span>
              </div>







              
              <div class="col-xl-6 col-md-6">

<!-- 
                <div class="col">
                  <div class="module-button ">
                    <button type="button" class="btn btn-primary " (click)="downloadFile()"></button>
                    <div class="button-animation"></div>
                    <div class="button-content">
                      <i class="icon icon-dc_download"></i>
                    </div>
                  </div>
                </div>
    <div class="col-4" style="    display: inline-block;  ">
      <div class="component-file-selector show-file-name "
          data-plugin="moduleFileSelector" >
        <div class="form-group" style="border: 1px solid black;">
          <div class="file-selector-wrapper">
            <input type="file" name="file" id="file" class="file-selector" (change)="incomingfile($event)" multiple="false">
            <div class="file-name-container">
              <span class="file-name"></span>
            </div>
            <div class="module-button ">
              <button type="button" class="btn btn-light " ></button>
              <div class="button-animation"></div>
              <div class="button-content">
                <span class="content-text">Select File</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1">
      <div class="module-button ">
        <button type="button" class="btn btn-secondary " (click)="sendFiledata()"></button>
        <div class="button-animation"></div>
        <div class="button-content">
          <i class="icon icon-dc_upload"></i>
        </div>
      </div>
    </div> -->


  



              </div>
              <div class="col-xl-4 col-md-4">
                <div class="module-button-group">
                  <div class="module-button" (click)="modalClose()">
                    <button type="button" class="btn btn-primary"></button>
                    <div class="button-animation"></div>
                    <div class="button-content">
                      <span class="content-text">Cancel</span>
                    </div>
                  </div>





                  
                  <div class="module-button" (click)="AddMachineData()">
                    <button type="submit" class="btn btn-secondary" [disabled]="addmachine.invalid"></button>
                    <div class="button-animation"></div>
                    <div class="button-content">
                      <span class="content-text">Submit</span>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>



            
          </form>
        

          <hr> 
          <!-- excel sheet upload  -->
          <div class="row upload" style="margin-bottom: 20px;margin-top: 0px;">
            <div class="modal-header upload">
              <p class="headline h5 modal-title">
               Upload Excel data
              </p>
            </div>
          </div>
          <div class="row">
                  <div class="col">
                    <div class="module-button ">
                      <button type="button" class="btn btn-primary " (click)="downloadFile()"></button>
                      <div class="button-animation"></div>
                      <div class="button-content">
                        <i class="icon icon-dc_download"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="component-file-selector show-file-name "
                        data-plugin="moduleFileSelector" >
                      <div class="form-group" style="border: 1px solid black;">
                        <div class="file-selector-wrapper">
                          <input type="file" name="file" id="file" class="file-selector" (change)="incomingfile($event)" multiple="false">
          
                          <div class="file-name-container">
                            <span class="file-name"></span>
                          </div>
                          <div class="module-button ">
                            
                            <button type="button" class="btn btn-light " ></button>
                            <div class="button-animation"></div>
                            <div class="button-content">
                              <span class="content-text">Select File</span>
                            </div>
                          </div>
                        </div>
                        <!-- <div class="error-message">Please select a different file.</div> -->
                      </div>
                    </div>
                  </div>
                  <div class="col-1">
                    <div class="module-button ">
                      <button type="button" class="btn btn-secondary " (click)="sendFiledata()"></button>
          
                      <div class="button-animation"></div>
                      <div class="button-content">
                        <i class="icon icon-dc_upload"></i>
                      </div>
                    </div>
                  </div>
          <!-- end excel sheet uplaod  -->

          



        </div>
      </div>
    </div>
  </div>

  <!-- multi entry modal  -->




  <div class="module-modal modal" id="MultiEntry" data-plugin="moduleModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-close">
          <div class="module-button ">
            <button type="button" class="btn btn-link " (click)="modalClose()"></button>
            <div class="button-animation"></div>
            <div class="button-content">
              <i class="icon icon-dc_close"></i>
            </div>
          </div>
        </div>
        <div class="modal-header">
          <p class="headline h5 modal-title">

            <!-- User Name: <input type="text" > -->
<!-- {{userName}} -->
Add machines
</p>
<!-- <div class="module-input form-group has-placeholder" data-plugin="moduleInput">
  <label for="demo-default-input-1">number of entries </label>
  <div class="input-animation-wrapper" >
<input type="number" [(ngModel)]="nam" id="demo-default-input-1" class="form-control"
placeholder="Enter Machine Name" name="demo-default-input-1"
                                                                                                                                     />
  </div>  
</div> -->
<br/> 
       
        </div>
        <div class="modal-body">
          <p>
            Customer Name: <b style="text-transform: uppercase;">{{projectname}}</b>
          </p>
          <form [formGroup]="addmachine">

            <div class="col-3">
              <div class="module-input form-group has-placeholder" data-plugin="moduleInput">
                <label for="demo-default-input-1">number of entries </label>
                <div class="input-animation-wrapper" >
                  <input type="number" id="demo-default-input-1" class="form-control" value=""
                    placeholder="Enter Machine Name" name="demo-default-input-1"
                    data-bouncer-target="#demo-default-input-1-error" required="required"
                    formControlName="machinename" 
                    [(ngModel)]="userName" 
                    />
                    
             Customer 
{{userName}}
<!-- {{nam}}
 -->


                  <p *ngIf="addmachine.get('machinename').touched && addmachine.get('machinename').invalid"
                    class="danger">Please enter number of .</p>
                  <div class="input-animation"></div>
                </div>
                <div id="demo-default-input-1-error" class="error-message-wrapper"></div>
              </div>
            </div>
           
            <!-- *ngFor="let i of userName" -->
            <div class="row"  *ngFor="let e of [].constructor(userName); let z = index"> 
              <div class="col">
                <!-- {{i}} -->
                <!-- ds{{nam}} -->
                <div class="module-input form-group has-placeholder" data-plugin="moduleInput">
                  <label for="demo-default-input-1"> Machine Name * {{z}}  </label>
                  <div class="input-animation-wrapper">
                    <input type="text" id="demo-default-input-1" class="form-control" value="{{z}}"
                      placeholder="Enter Machine Name" name="demo-default-input-1"
                      data-bouncer-target="#demo-default-input-1-error" required="required"
                     />
                     <!-- formControlName="machinename"  -->
                    <p *ngIf="addmachine.get('machinename').touched && addmachine.get('machinename').invalid"
                      class="danger">Please enter machine name.</p>
                    <div class="input-animation"></div>
                  </div>
                  <div id="demo-default-input-1-error" class="error-message-wrapper"></div>
                </div>
              </div>
              <div class="col">
                <div class="module-input form-group has-placeholder" data-plugin="moduleInput">
                  <label for="demo-default-input-2"> Description * </label>
                  <div class="input-animation-wrapper">
                    <input type="text" id="demo-default-input-2" class="form-control" value="" placeholder="Description"
                      name="demo-default-input-2" data-bouncer-target="#demo-default-input-2-error" required="required"
                      formControlName="desc" />
                    <p *ngIf="addmachine.get('desc').touched && addmachine.get('desc').invalid" class="danger">Please
                      enter machine's description.</p>
                    <div class="input-animation"></div>
                  </div>
                  <div id="demo-default-input-2-error" class="error-message-wrapper"></div>
                </div>
              </div>
              <!-- <span style="margin-left: 15px;">Technology: </span> &nbsp;&nbsp; -->
              <!-- <div class="module-radio custom-control custom-radio"> <input type="radio" id="custom-radio-1"
                  name="technology" value="Industrial" #tech_industry class="custom-control-input"
                  (click)="submitForm(tech_industry.value)">
                <label class="custom-control-label" for="custom-radio-1">
                  Industrial </label>
              </div>&nbsp;&nbsp;
              <div class="module-radio custom-control custom-radio"> <input type="radio" id="custom-radio-2"
                  name="technology" value="Mobile" #tech_mobile class="custom-control-input"
                  (click)="submitForm(tech_mobile.value)">
                <label class="custom-control-label" for="custom-radio-2">
                  Mobile </label>
              </div> -->
              <!-- <div class="col-12">
                <span>Application: </span> &nbsp;&nbsp;
                <span  *ngFor="let appval of industry_sector_g1; let i=index"><input name="application" class="module-radio " style="cursor: pointer;" #app_val  [value]="appval.industry_sec_group" (click)="submitTechnologyForm(app_val.value)" type="radio" id="custom-radio-21{{i}}" > <label class="customradio" style="cursor: pointer;" for="custom-radio-21{{i}}" (click)="submitTechnologyForm(app_val.value)"> {{appval.industry_sec_group}} </label> &nbsp;&nbsp;</span>

              </div> -->
              <!-- <div class="col-12">
                <div class="module-dropdown">
                  <div class="input-animation-wrapper">
                    <label for="demo-dropdown-6">Industry Sector Group 1*</label>
                    <select #industryg1 (change)="onchangeindustrysectorg1(industryg1.value)" id="demo-dropdown-6"
                      class="custom-select " name="demo-dropdown-6" data-bouncer-target="#demo-dropdown-6-error"
                      required="required" formControlName="isg1">
                      <option disabled selected value="">--- Please select ---</option>
                      <option *ngFor="let ig1 of industry_sector_g11" [value]="ig1.industry_sec_group_1">
                        {{ig1.industry_sec_group_1}}
                      </option>
                    </select>
                    <div class="input-animation"></div>
                  </div>
                  <div id="demo-dropdown-6-error" class="error-message-wrapper"></div>
                </div>
              </div> -->
              <div class="col">
                <div class="module-dropdown">
                  <div class="input-animation-wrapper">
                    <label for="demo-dropdown-11">Ind Sec Grp1 *</label>
                    <select #industrygroup1 (change)="onchangeindustrysectorGroup(industrygroup1.value)"
                      id="demo-dropdown-11" class="custom-select " name="demo-dropdown-11"
                      data-bouncer-target="#demo-dropdown-11-error" required="required" formControlName="industrygroup1">
                      <option disabled selected value="">--- Please select ---</option>
                      <option *ngFor="let i of industrysectorgroup1" [value]="i.group1_id">
                        {{i.group1_name}}
                      </option>
                    </select>
                    <p *ngIf="addmachine.get('industrygroup1').touched && addmachine.get('industrygroup1').invalid" class="danger">
                      Please select industry sector 1.</p>
                    <div class="input-animation"></div>
                  </div>
                  <div id="demo-dropdown-11-error" class="error-message-wrapper"></div>
                </div>
              </div>

              <div class="col">
                <div class="module-dropdown">
                  <div class="input-animation-wrapper">
                    <label for="demo-dropdown-1">Ind Sec Grp 2 *</label>
                    <select #industry (change)="onchangeindustrysector(industry.value)" id="demo-dropdown-1"
                      class="custom-select " name="demo-dropdown-1" data-bouncer-target="#demo-dropdown-1-error"
                      required="required" formControlName="industry">
                      <option disabled selected value="">--- Please select ---</option>
                      <option *ngFor="let i of industrysectors" [value]="i.group2_id">
                        {{i.group2_name}}
                      </option>
                    </select>
                    <p *ngIf="addmachine.get('industry').touched && addmachine.get('industry').invalid" class="danger">
                      Please select industry sector 2.</p>
                    <div class="input-animation"></div>
                  </div>
                  <div id="demo-dropdown-1-error" class="error-message-wrapper"></div>
                </div>
              </div>
              <div class="col">
                <div class="module-dropdown">
                  <div class="input-animation-wrapper">
                    <label for="demo-dropdown-2">Application *</label>
                    <select id="demo-dropdown-2" class="custom-select " name="demo-dropdown-2"
                      data-bouncer-target="#demo-dropdown-2-error" required="required" formControlName="application">
                      <option disabled selected value="">--- Please select ---</option>
                      <option *ngFor="let app of application" [value]="app.industry_sector_code">
                        {{app.group3_name}}
                      </option>
                    </select>
                    <p *ngIf="addmachine.get('application').touched && addmachine.get('application').invalid"
                      class="danger">Please select application.</p>
                    <div class="input-animation"></div>
                  </div>
                  <div id="demo-dropdown-2-error" class="error-message-wrapper"></div>
                </div>
              </div>
              <div class="col">
                <div class="module-dropdown">
                  <div class="input-animation-wrapper">
                    <label for="demo-dropdown-3">Machine Status *</label>
                    <select id="demo-dropdown-3" class="custom-select " name="demo-dropdown-3"
                      data-bouncer-target="#demo-dropdown-3-error" required="required" formControlName="phase">
                      <option disabled selected value="">

                      </option>
                      <option value="LEAD - Potential">LEAD - Potential</option>
                      <option value="HG0 - Request for Quotation = 15%">HG0 - Request for Quotation = 15%</option>
                      <option value="HG1 - Initial Offering = 25%">HG1 - Initial Offering = 25%</option>
                      <option value="HG2 - Positive Negotiation = 50%">HG2 - Positive Negotiation = 50%</option>
                      <option value="HG3 - Prototype Construction Done = 75%">HG3 - Prototype Construction Done = 75%
                      </option>
                      <option value="HG4 - Series Production Order Advised = 100%">HG4 - Series Production Order Advised
                        = 100%</option>
                      <option value="HG5 - In serial Production / Production finished">HG5 - In serial Production /
                        Production finished</option>
                      <option value="LOST - Machine to Competitor">LOST - Machine to Competitor</option>
                      <option value="STOP - Machine by Customer / Inactive">STOP - Machine by Customer / Inactive
                      </option>
                    </select>
                    <p *ngIf="addmachine.get('phase').touched && addmachine.get('phase').invalid" class="danger">Please
                      select machine status.</p>
                    <div class="input-animation"></div>
                  </div>
                  <div id="demo-dropdown-3-error" class="error-message-wrapper"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-2 col-md-2">
                <span class="mandatory-info">* Mandatory</span>
              </div>
              <div class="col-xl-6 col-md-6"></div>
              <div class="col-xl-4 col-md-4">
                <div class="module-button-group">
                  <div class="module-button" (click)="modalClose()">
                    <button type="button" class="btn btn-primary"></button>
                    <div class="button-animation"></div>
                    <div class="button-content">
                      <span class="content-text">Cancel</span>
                    </div>
                  </div>
                  <div class="module-button" (click)="AddMachineData()">
                    <button type="submit" class="btn btn-secondary" [disabled]="addmachine.invalid"></button>
                    <div class="button-animation"></div>
                    <div class="button-content">
                      <span class="content-text">Submit</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>






  <!-- end of multi entry modal  -->
  <!-- Message Box -->
  <div class="module-modal modal modal-dark modal-danger" id="messagebox" data-plugin="moduleModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-close">
                <div class="module-button ">
                    <!-- <button type="button" class="btn btn-link " (click)="gotologin()"></button> -->
                    <div class="button-animation"></div>
                    <div class="button-content">
                        <i class="icon icon-dc_close" style="color: white;"></i>
                    </div>
                </div>
            </div>
            <div class="modal-close">
              <div class="module-button ">
                  <button type="button" class="btn btn-link " (click)="deletemodelclose2()"></button>
                  <div class="button-animation"></div>
                  <div class="button-content">
                      <i class="icon icon-dc_close" style="color: white;"></i>
                  </div>
              </div>
          </div>
            <div class="modal-header" style="padding-top: 15px; padding-bottom: 15px; background-color: #00CCFF;">
                <p class="headline h5 modal-title" style="color: white;">
                    Messageboxs
                </p>
            </div>
            <div class="modal-body">
                <!-- <div class="module-callout callout-caution has-icon" data-plugin="moduleCallout" data-display-time="">
                    <i class="icon"></i>
                    <div class="text-wrapper">
                        <p class="headline">Do you want to delete this Material?</p>
                    </div>
                </div> -->
                <p style="font-size: 20px;">

                  <tr *ngFor="let msg of message">
                    <td>{{msg.message}}</td>
                </tr>
                  
                </p>
                <div class="col-12" style="text-align: right; padding-right: 0;" *ngIf = "expired">
                    <div class="module-button fasttrack">
                        <!-- <button type="button" class="btn btn-primary " (click)="gotologin()"></button> -->
                        <div class="button-animation"></div>
                        <div class="button-content">
                            <span class="content-text">CLOSE</span>
                        </div>
                    </div>
                </div>

                <div class="col-12" style="text-align: right; padding-right: 0;" *ngIf = "!expired">
                  <div class="module-button fasttrack">
                      <button type="button" class="btn btn-primary " (click)="deletemodelclose2()"></button>
                      <div class="button-animation"></div>
                      <div class="button-content">
                          <span class="content-text">CLOSE1</span>
                      </div>
                  </div>
              </div>
            </div>

        </div>
    </div>
  </div>
  <!-- End -->
  <!-- Delete Model Start -->
  <div class="module-modal modal modal-dark modal-danger deletemodel" id="opendeletemodel" data-plugin="moduleModal">
    <div class="modal-dialog deletemodeldialog">
      <div class="modal-content">
        <div class="modal-close">
          <div class="module-button ">
            <button type="button" class="btn btn-link " (click)="deletemodelclose()"></button>
            <div class="button-animation"></div>
            <div class="button-content">
              <i class="icon icon-dc_close" style="color: white;"></i>
            </div>
          </div>
        </div>
        <div class="modal-header" style="padding-top: 15px; padding-bottom: 15px; background-color: red;">
          <p class="headline h5 modal-title" style="color: white;">
            Are you sure?
          </p>
        </div>
        <div class="modal-body">
          <p style="font-size: 20px;">
            <i class="icon icon-dc_warning" style="color: red; font-size: 24px;"></i> Do you want to delete this
            Material?
          </p>
          <div class="col-12" style="text-align: right; padding-right: 0;">
            <div class="module-button fasttrack">
              <button type="button" class="btn btn-secondary " (click)="DeleteMaterials(delete_machine_id)"></button>
              <div class="button-animation"></div>
              <div class="button-content">
                <span class="content-text">YES</span>
              </div>
            </div>
            <div class="module-button fasttrack">
              <button type="button" class="btn btn-primary " (click)="deletemodelclose()"></button>
              <div class="button-animation"></div>
              <div class="button-content">
                <span class="content-text">NO</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- End -->
</div>
<br />



<!-- <app-footer *ngIf = "ManagepagesService.currenturl2() === true"></app-footer> -->
