.headline{
    margin-bottom: 0;
    font-size: 26px;
}

.module-table {
    margin-bottom: 0;
    position: relative;
    background: #ffffff;
    background: var(--color-white);
    color: #002b49;
    color: var(--color-prussian-blue);
    font-size: 0.875rem;
}
.module-block {
    margin-bottom: 0;
}
.pn{
    height: 47px;
    width: 100%;
    outline: none;
}
.iconheader{
    margin-left: 12px;
    margin-right: 12px;
    font-size: 30px;
}
