.module-block {
    margin-bottom: 0px;
}

.highlight{
    font-weight: 400;
    border: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    padding: 10px;
    text-align: center;
    margin-left: 400px;
    // height: 450px;
    // margin-bottom: 50px;
}
.highlights{
    font-weight: 400;
    border: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    padding: 10px;
    margin-bottom: 50px;
    margin-left: 400px;
}

.page-wrapper {
    width: auto;
    max-width: 1920px;
    min-height: 0vh;
    margin: 0 auto;
}