<app-admin-navigation></app-admin-navigation>

<div class="modal-header">
  <h1 class="headline h5 modal-title" style="font-weight: bold;">
    3D MAP
  </h1>
</div>
<div class="modal-body">
  <div class="row">
    <div class="module-input form-group has-placeholder col-md-5" data-plugin="moduleInput">
      <p class="mainlabel">Part Number:</p>
      <div class="input-animation-wrapper">
        <input type="text" id="demo-placeholder44" #partnumber class="pn" placeholder="Search for Global Material" />
        <div class="module-button">
          <button type="button" class="btn btn-secondary"
            (click)="dynamic_search(partnumber.value, 'partnumber')"></button>
          <div class="button-animation"></div>
          <div class="button-content">
            <i class="iconheader rb-search-number"></i>
          </div>
        </div>
        <div class=""></div>
      </div>
    </div>

    <div class="module-input form-group has-placeholder col-md-5" data-plugin="moduleInput">
      <p class="mainlabel">Type Code:</p>
      <div class="input-animation-wrapper">
        <input type="text" id="demo-placeholder44" #typeval class="pn" placeholder="Search for Type Code" />
        <div class="module-button">
          <button type="button" class="btn btn-secondary" (click)="dynamic_search(typeval.value, 'typecode')"></button>
          <div class="button-animation"></div>
          <div class="button-content">
            <i class="iconheader rb-search-number"></i>
          </div>
        </div>
        <div class=""></div>
      </div>
    </div>
  </div>
  <!-- search from here -->
  <div class="row">
    <div class="module-dropdown col-md-3">
      <div class="input-animation-wrapper">
        <label class="label-above-sm" for="demo-default">
          Product:
        </label>
        <!-- <p class="mainlabel">Your Application Experience:</p> -->
        <select id="demo-default" class="custom-select " [(ngModel)]="selected_product"
          (change)="selectedvalues('products')">
          <option value="null">Please Select</option>
          <option *ngFor="let product of fill_product" [value]="product.value">
            {{product.value}}
          </option>
        </select>
        <div class="input-animation"></div>
      </div>
      <div id="demo-default-error" class="error-message-wrapper"></div>
    </div>

    <div class="module-dropdown col-md-3">
      <div class="input-animation-wrapper">
        <label class="label-above-sm" for="demo-default">
          Product Detailed:
        </label>
        <!-- <p class="mainlabel">Your Application Experience:</p> -->
        <select id="demo-default" class="custom-select" [(ngModel)]="selected_product_detailed"
          (change)="selectedvalues('productdetailed')">
          <option value="null">Please Select</option>
          <option selected *ngFor="let fill_product_detailed of fill_product_detailed"
            [value]="fill_product_detailed.value">
            {{fill_product_detailed.value}}
          </option>
        </select>
        <div class="input-animation"></div>
      </div>
      <div id="demo-default-error" class="error-message-wrapper"></div>
    </div>

    <div class="module-dropdown col-md-3">
      <div class="input-animation-wrapper">
        <label class="label-above-sm" for="demo-default">
          PRODUCT FAMILY:
        </label>
        <!-- <p class="mainlabel">Your Application Experience:</p> -->
        <select id="demo-default" class="custom-select" [(ngModel)]="selected_product_family"
          (change)="selectedvalues('profuctf')">
          <option value="null">Please Select</option>
          <option *ngFor="let pf of fill_product_family" [value]="pf.value">
            {{pf.value}}
          </option>
        </select>
        <div class="input-animation"></div>
      </div>
      <div id="demo-default-error" class="error-message-wrapper"></div>
    </div>
    <div class="module-dropdown col-md-3">
      <div class="input-animation-wrapper">
        <label class="label-above-sm" for="demo-default">
          S3D_MODEL_AVAILABLE:
        </label>
        <select id="demo-default" class="custom-select" [(ngModel)]="selected_model"
          (change)="selectedvalues('models')">
          <option value="Please Select">Please Select</option>
          <option *ngFor="let model of fill_model" [value]="model.value">
            {{model.value}}
          </option>
        </select>
        <div class="input-animation"></div>
      </div>
      <div id="demo-default-error" class="error-message-wrapper"></div>
    </div>
    <div class="module-dropdown col-md-3">
      <div class="input-animation-wrapper">
        <label class="label-above-sm" for="demo-default">
          GOTO EXPRESS:
        </label>
        <!-- <p class="mainlabel">Your Application Experience:</p> -->
        <select id="demo-default" class="custom-select" [(ngModel)]="selected_gotoexpress"
          (change)="selectedvalues('gotoe')">
          <option value="Please Select">Please Select</option>
          <option *ngFor="let goto of fill_gotoexpress" [value]="goto.value">{{goto.value}}</option>
        </select>
        <div class="input-animation"></div>
      </div>
      <div id="demo-default-error" class="error-message-wrapper"></div>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-12">
          <div class="module-button">
              <button type="button" class="btn btn-primary " ></button>
              <div class="button-animation"></div>
              <div class="button-content">
                  <span class="content-text">Search</span>
              </div>
          </div>
      </div> -->
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <h2 class="h3">Results</h2>
      <b><label style="text-align: right; ">RESULTS FOUND: </label></b>
      <b><span style="text-align: right;" id="counter">{{anzahl}}</span></b>
      <div class="module-table table-responsive">
        <table class="table
                            table-hover">
          <thead>
            <tr>
              <th class="highlight text-center">
                Product
              </th>
              <th class="highlight text-center">
                Product Details
              </th>
              <th class="text-center highlight">
                Product Family
              </th>
              <th class="text-center highlight">
                Delivery Time (D)
              </th>
              <th class="text-center highlight">
                Global Material
              </th>
              <th class="text-center highlight">
                Type Code
              </th>
              <th class="text-center highlight">
                3D Model Available
              </th>
              <th class="text-center highlight">
                3D Model
              </th>
              <th class="text-center highlight">
                Spare Parts
              </th>
              <th class="text-center highlight">
                Data Sheets
              </th>
              <th class="text-center highlight">
                GoTo Express
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let products of showProducts">
              <td class="text-center">
                {{products.product}}
              </td>
              <td class="text-center">
                {{products.get_product_detailed}}
              </td>
              <td class="text-center">
                {{products.product_family}}
              </td>
              <td>
                {{products.quick_delivery_time}}
              </td>
              <td class="text-center">
                {{products.material_number}}
              </td>
              <td class="text-center">
                {{products.type_code}}
              </td>
              <td class="text-center">
                {{products.s3d_model_available}}
              </td>
              <td class="text-center" *ngIf="products.status === true">
                <a href="{{products.s3d_model_pdm}}" target="_blank">
                  <div class="module-button" style="margin-left: 20px;">
                    <button type="button" class="btn btn-secondary "></button>
                    <div class="button-animation"></div>
                    <div class="button-content">
                      <span class="content-text">3DModel</span>
                    </div>
                  </div>
                </a>
              </td>
              <td class="text-center" *ngIf="products.status === false">
                <div class="module-button" style="margin-left: 20px;">
                  <button type="button" class="btn btn-secondary "></button>
                  <div class="button-animation"></div>
                  <div class="button-content">
                    <span class="content-text">Request</span>
                  </div>
                </div>
              </td>
              <td class="text-center" *ngIf="products.nofound === false">
                <a href="https://www.boschrexroth.com/ics/spc/?p=p662658&language=en&typecode={{products.material}}"
                  target="_blank">
                  <div class="module-button" style="margin-left: 20px;">
                    <button type="button" class="btn btn-secondary "></button>
                    <div class="button-animation"></div>
                    <div class="button-content">
                      <span class="content-text">SPARE PARTS</span>
                    </div>
                  </div>
                </a>
              </td>
              <td class="text-center" *ngIf="products.nofound === false">
                <a href="https://www.boschrexroth.com/en/xc/myrexroth/myrexroth-search?_3_formDate=1636549221764&p_p_id=3&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-1&p_p_col_count=1&_3_struts_action=%2Fsearch%2Fsearch&_3_cur=1&_3_format=&_3_keywords={{products.product_family}}&_3_sortField=&_3_sortReverted=undefined&_3_applyFilter=false&_3_vocabId_3825778=3832111&_3_vocabId_4354720=&_3_vocabId_3833197=&_3_groupId=0&_3_vocabId_5334676=&_3_assetTagNames="
                  target="_blank">
                  <div class="module-button" style="margin-left: 20px;">
                    <button type="button" class="btn btn-secondary "></button>
                    <div class="button-animation"></div>
                    <div class="button-content">
                      <span class="content-text">DATA SHEETS</span>
                    </div>
                  </div>
                </a>
              </td>
              <td class="text-center" *ngIf="products.nofound === false">
                xx
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <hr class="my-0" />
  <br>
  <!-- Pagination -->
  <div class="module-pagination module-block" data-plugin="modulePagination">
    <div class="paging-container">
      <div class="results-per-page">
        <p class="paging-title">Results per page:</p>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <div class="module-button " (click)="onChangeRowsPerPage(10)">
            <a class="btn btn-light btn-sm "></a>
            <div class="button-animation"></div>
            <div class="button-content" [ngClass]="{'active-class': rowsPerPage==10}">
              <span class="content-text">10</span>
            </div>
          </div>
          <div class="module-button " (click)="onChangeRowsPerPage(15)">
            <a class="btn btn-light btn-sm btn-ghost"></a>
            <div class="button-animation"></div>
            <div class="button-content" [ngClass]="{'active-class': rowsPerPage==15}">
              <span class="content-text">15</span>
            </div>
          </div>
          <div class="module-button " (click)="onChangeRowsPerPage(20)">
            <a class="btn btn-light btn-sm btn-ghost"></a>
            <div class="button-animation"></div>
            <div class="button-content" [ngClass]="{'active-class': rowsPerPage==20}">
              <span class="content-text">20</span>
            </div>
          </div>
          <!-- <div class="module-button " (click)="onChangeRowsPerPage(100)">
            <a class="btn btn-light btn-sm btn-ghost"></a>
            <div class="button-animation"></div>
            <div class="button-content" [ngClass]="{'active-class': rowsPerPage==100}">
              <span class="content-text">ALL</span>
            </div>
          </div> -->
        </div>
      </div>
      <div class="paging">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <div class="module-button " *ngIf="actualPage !== 1" (click)="onPageChange(actualPage-1)">
            <a class="btn btn-light btn-sm btn-ghost arrow"></a>
            <div class="button-animation"></div>
            <div class="button-content">
              <i class="icon icon-dc_backward_left"></i>
            </div>
          </div>
          <div class="module-button " *ngIf="actualPage-1>0" (click)="onPageChange(actualPage-1)">
            <a class="btn btn-light btn-sm "></a>
            <div class="button-animation"></div>
            <div class="button-content" style="background-color: white; color: black; border: black;">
              <span class="content-text">{{actualPage-1}}</span>
            </div>
          </div>
          <div class="module-button " (click)="onPageChange(actualPage)">
            <a class="btn btn-light btn-sm btn-ghost"></a>
            <div class="button-animation"></div>
            <div class="button-content active-class">
              <span class="content-text ">{{actualPage}}</span>
            </div>
          </div>
          <div class="module-button hide-mobile" *ngIf="endPaging>=2 && actualPage+1<=endPaging"
            (click)="onPageChange(actualPage+1)">
            <a class="btn btn-light btn-sm btn-ghost"></a>
            <div class="button-animation"></div>
            <div class="button-content">
              <span class="content-text">{{actualPage+1}}</span>
            </div>
          </div>
          <div class="module-button hide-mobile" *ngIf="actualPage-1==0 && endPaging>2"
            (click)="onPageChange(actualPage+2)">
            <a class="btn btn-light btn-sm btn-ghost"></a>
            <div class="button-animation"></div>
            <div class="button-content">
              <span class="content-text">{{actualPage+2}}</span>
            </div>
          </div>
          <div class="module-button" *ngIf="endPaging>=5">
            <button type="button" class="btn btn-light btn-sm btn-ghost dots" (click)="prevnext()"></button>
            <div class="button-content">
              <i class="icon icon-dc_options"></i>
            </div>
          </div>
          <!-- option end -->

          <div class="module-button " *ngIf="endPaging>=4 && actualPage!=endPaging && actualPage+1!=endPaging"
            (click)="onPageChange(endPaging)">
            <a class="btn btn-light btn-sm btn-ghost"></a>
            <div class="button-animation"></div>
            <div class="button-content">
              <span class="content-text">{{endPaging}}</span>
            </div>
          </div>
          <div class="module-button " *ngIf="actualPage+1<=endPaging" (click)="onPageChange(actualPage+1)">
            <a class="btn btn-light btn-sm btn-ghost arrow"></a>
            <div class="button-animation"></div>
            <div class="button-content">
              <i class="icon icon-dc_forward_right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pagination End -->
</div>
<div class="component-progress-icon loading fixed" *ngIf="!showloader">
  <div class="spinner-wrapper">
    <svg version="1.1" id="L6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
      y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
      <circle cx="50" cy="50" r="46" stroke="#002b49" stroke-width="8" stroke-linecap="square" fill="none"
        transform="rotate(0 50 50)">
        <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s"
          values="0 50 50;180 50 50;360 50 50;" keyTimes="0;0.5;1"></animateTransform>
        <animate attributeName="stroke-dasharray" repeatCount="indefinite" dur="1s"
          values="72.25663103256524 216.76989309769573;173.41591447815657 115.61060965210439;72.25663103256524 216.76989309769573"
          keyTimes="0;0.5;1"></animate>
      </circle>
      <circle cx="50" cy="50" r="34" stroke="#00ccff" stroke-width="8" stroke-linecap="square" fill="none"
        transform="rotate(0 50 50)">
        <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="2s"
          values="0 50 50;180 50 50;720 50 50" keyTimes="0;0.5;1"></animateTransform>
        <animate attributeName="stroke-dasharray" repeatCount="indefinite" dur="2s"
          values="21.362830044410593 192.26547039969535;149.53981031087417 64.08849013323177;21.362830044410593 192.26547039969535"
          keyTimes="0;0.5;1"></animate>
      </circle>
      <circle cx="50" cy="50" r="22" stroke="#df0024" stroke-width="8" stroke-linecap="square" fill="none"
        transform="rotate(0 50 50)">
        <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="2.5s"
          values="0 50 50;180 50 50;720 50 50" keyTimes="0;0.5;1"></animateTransform>
        <animate attributeName="stroke-dasharray" repeatCount="indefinite" dur="2.5s"
          values="6.911503837897544 131.31857292005333;34.55751918948772 103.67255756846316;6.911503837897544 131.31857292005333"
          keyTimes="0;0.5;1"></animate>
      </circle>
    </svg>
    <span>
      <strong>Searching in progress, please wait ...</strong>
    </span>
  </div>
</div>

<app-footer></app-footer>
