<header class="module-header" data-plugin="moduleHeader" data-event-bubbling-intercept="header.outsideClick">
  <div class="fixed-container">
    <div class="header-top">
      <div class="module-button">
        <button type="button" class="btn btn-navigation"></button>
        <div class="button-content">
          <span class="upper-line"></span>
          <span class="middle-line"></span>
          <span class="bottom-line"></span>
        </div>
      </div>
      <div class="header-logo">
        <a class="logo">
          <!-- Image Template -->
          <!-- indent-description is an optional Parameter for Large Images. The Description will be restricted to 10 Columns and centered under the Image -->
          <!-- Important: Fallback Image inside srcset-Attribut needs to have the same aspect ratio as the Images in src and data-srcset -->
          <div class="module-image">
            <img class="lazyload"  src="https://rb-mobileweb.de.bosch.com/2021/storage/rexroth_logo_animated_113.gif" alt="logo"
              data-sizes="auto" data-srcset="assets/images/rexroth_logo_animated_113.gif 768w, assets/images/rexroth_logo_animated_113.gif 920w" />
          </div>
        </a>
      </div>
      <span class="toggle-meta-nav"></span>
      <!-- @TODO The module-meta-navigation must not stand without it's wrapping container. -->
      <div class="meta-nav mr-0">
        <ul>
          <!-- <li>
            <a href="" class="" >
              <i class="icon icon-dc_home"></i>
              Home
            </a>
          </li> -->
          <!-- <li>
            <a href="home#agenda" class="" >
              <i class="icon icon-dc_calendar"></i>
              Agenda
            </a>
          </li>
          <li>
            <a href="" class="" [routerLink]="['/stage']">
              <i class="icon icon-dc_podcast"></i>
              Live Stream
            </a>
          </li>
          <li>
            <a href="home#breakroom" class="">
              <i class="icon icon-dc_pause"></i>
              Break Room
            </a>
          </li>
          <li>
            <a href="home#gallery" class="">
              <i class="icon icon-dc_imagery"></i>
              Gallery
            </a>
          </li>
          <li>
            <a href="home#download" class="">
              <i class="icon icon-dc_link"></i>
              Applications
            </a>
          </li> -->
          <!-- <li>
            <a href="" class="">
              <i class="icon icon-dc_mail"></i>
              Support
            </a>
          </li> -->
          <!-- <li>
            <a href="#" class="logged-in action-toggle-user-menu">
              <span class="icon-wrapper">
                <i class="icon icon-dc_close">
                  <i class="bubble-wrapper">
                    <i class="notification-bubble"></i>
                  </i>
                </i>
              </span>
              LogOut
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</header>
