<div class="module-form setview" data-plugin="moduleForm">
	<form [formGroup]="addFastTrackForm">
		<h1>Fast Track Prototype Delivery</h1>
		<div class="row">
			<h1 class="col-12">Project Details</h1>
			<div class="col-sm-12 col-md-3">
				<div class="module-input form-group has-placeholder hover-demo read-only" data-plugin="moduleInput">
					<label for="demo-default-input-1">
						Partner Name *
					</label>
					<div class="input-animation-wrapper">
						<input type="text" id="demo-default-input-1" class="form-control" placeholder="Min Max Example"
							name="demo-default-input-1" data-bouncer-target="#demo-default-input-1-error"
							required="required" formControlName="partnername" readonly />
						<!--data-search-url="url" is needed to use the AutoComplete function.-->
						<div class="input-animation"></div>
					</div>
					<div id="demo-default-input-1-error" class="error-message-wrapper"></div>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="module-input form-group has-placeholder hover-demo read-only" data-plugin="moduleInput">
					<label for="demo-default-input-5">
						Customer Name
					</label>
					<div class="input-animation-wrapper">
						<input type="text" id="demo-default-input-5" class="form-control" placeholder="Min Max Example"
							name="demo-default-input-5" data-bouncer-target="#demo-default-input-5-error"
							required="required" formControlName="projectname" readonly />
						<!--data-search-url="url" is needed to use the AutoComplete function.-->
						<div class="input-animation"></div>
					</div>
					<div id="demo-default-input-5-error" class="error-message-wrapper"></div>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="module-input form-group has-placeholder hover-demo read-only" data-plugin="moduleInput">
					<label for="demo-default-input-2">
						Customer Number *
					</label>
					<div class="input-animation-wrapper">
						<input type="text" id="demo-default-input-2" class="form-control" placeholder="Min Max Example"
							name="demo-default-input-2" data-bouncer-target="#demo-default-input-2-error"
							required="required" formControlName="projectnumber" readonly />
						<!--data-search-url="url" is needed to use the AutoComplete function.-->
						<div class="input-animation"></div>
					</div>
					<div id="demo-default-input-2-error" class="error-message-wrapper"></div>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="module-input form-group has-placeholder hover-demo read-only" data-plugin="moduleInput">
					<label for="demo-default-input-3">
						Contact Person *
					</label>
					<div class="input-animation-wrapper">
						<input type="text" id="demo-default-input-3" class="form-control"
							placeholder="Enter Contact Person" name="demo-default-input-3"
							data-bouncer-target="#demo-default-input-3-error" required="required"
							formControlName="contact_person" readonly />
						<div class="input-animation"></div>
					</div>
					<div id="demo-default-input-3-error" class="error-message-wrapper"></div>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="module-input form-group has-placeholder hover-demo read-only" data-plugin="moduleInput">
					<label for="demo-default-input-7">
						Machine Name *
					</label>
					<div class="input-animation-wrapper">
						<input type="text" id="demo-default-input-7" class="form-control" placeholder="Application"
							name="demo-default-input-7" data-bouncer-target="#demo-default-input-7-error"
							required="required" formControlName="application" readonly />
						<!--data-search-url="url" is needed to use the AutoComplete function.-->
						<div class="input-animation"></div>
					</div>
					<div id="demo-default-input-7-error" class="error-message-wrapper"></div>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="module-input form-group has-placeholder hover-demo read-only" data-plugin="moduleInput">
					<label for="demo-default-input-6">
						Business Experience *
					</label>
					<div class="input-animation-wrapper">
						<input type="text" id="demo-default-input-6" class="form-control" placeholder="Min Max Example"
							name="demo-default-input-6" data-bouncer-target="#demo-default-input-6-error"
							required="required" formControlName="experience" readonly />
						<!--data-search-url="url" is needed to use the AutoComplete function.-->
						<div class="input-animation"></div>
					</div>
					<div id="demo-default-input-6-error" class="error-message-wrapper"></div>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="module-input form-group has-placeholder hover-demo read-only" data-plugin="moduleInput">
					<label for="demo-default-input-4">
						Prototype Request Date *
					</label>
					<div class="input-animation-wrapper">
						<input type="date" id="demo-default-input-4" class="form-control" placeholder="Min Max Example"
							name="demo-default-input-4" data-bouncer-target="#demo-default-input-4-error"
							required="required" formControlName="quickdeliverydate" readonly />
						<div class="input-animation"></div>
					</div>
					<div id="demo-default-input-4-error" class="error-message-wrapper"></div>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
			
			
			<div class="module-input form-group has-placeholder hover-demo read-only" data-plugin="moduleInput">
				<label for="demo-default-input-10">
					SOP Date *
				</label>
				<div class="input-animation-wrapper">
					<input type="date" id="demo-default-input-10" class="form-control" placeholder="Min Max Example"
						name="demo-default-input-10" data-bouncer-target="#demo-default-input-10-error"
						required="required" formControlName="sop" readonly />
					<!--data-search-url="url" is needed to use the AutoComplete function.-->
					<div class="input-animation"></div>
				</div>
				<div id="demo-default-input-10-error" class="error-message-wrapper"></div>
			</div>
		</div>
		</div>
		

		<div class="row">
			<h1 class="col-12">Project Information</h1>
			
			
			<div class="module-dropdown col-md-3 com-sm-12">
				<div class="input-animation-wrapper">
					<label class="label-above-sm" for="demo-default1">
						Business Type: *
					</label>
					<!-- <p class="mainlabel">Your Application Experience:</p> -->
					<select id="demo-default1" class="custom-select " formControlName="businesstype"  [ngClass]="{ 'is-invalid': submitted && f.businesstype.errors }">
						<option value="Domestic">Domestic</option>
						<option value="Export">Export</option>
					</select>
					<div *ngIf="submitted && f.businesstype.errors">
						<div *ngIf="f.businesstype.errors.required" class="danger">Please select business type.</div>
					</div>
					<div class="input-animation"></div>
				</div>
				<div id="demo-default1-error" class="error-message-wrapper"></div>
			</div>
			
			<!-- <div class="col-sm-12 col-md-3">
				<div class="module-input form-group has-placeholder" data-plugin="moduleInput">
					<label for="demo-default-input-8">
						Hydraulic Function in Machine *
					</label>
					<div class="input-animation-wrapper">
						<input type="text" id="demo-default-input-8" class="form-control" placeholder="Yes / No" name="demo-default-input-8"
							data-bouncer-target="#demo-default-input-8-error" required="required"
							formControlName="hydraulic"  [ngClass]="{ 'is-invalid': submitted && f.hydraulic.errors }"/>
						<div *ngIf="submitted && f.hydraulic.errors">
							<div *ngIf="f.hydraulic.errors.required" class="danger">Hydraulic function is required.</div>
						</div>
						<div class="input-animation"></div>
					</div>
					<div id="demo-default-input-8-error" class="error-message-wrapper"></div>
				</div>
			</div> -->
			<!-- <div class="col-sm-12 col-md-3">
				<div class="module-input form-group has-placeholder" data-plugin="moduleInput">
					<label for="demo-default-input-9">
						Prototype Quantity *
					</label>
					<div class="input-animation-wrapper">
						<input type="text" id="demo-default-input-9" class="form-control" placeholder="Prototype Quantity"
							name="demo-default-input-9" data-bouncer-target="#demo-default-input-9-error"
							required="required" formControlName="prototypequntity"
							[ngClass]="{ 'is-invalid': submitted && f.prototypequntity.errors }" />
						<div *ngIf="submitted && f.prototypequntity.errors">
							<div *ngIf="f.prototypequntity.errors.required" class="danger">Prototype quantity is required.</div>
						</div>
						<div class="input-animation"></div>
					</div>
					<div id="demo-default-input-9-error" class="error-message-wrapper"></div>
				</div>
			</div> -->

		</div>

		<div class="module-table table-responsive mb-2" style="overflow-x: hidden;">
			<h1>Product Information</h1>
			<div class="row" formArrayName="contacts">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="highlight text-center">
								PartNumber
							</th>
							<th class="highlight text-center">
								TypeCode
							</th>
							<th class="text-center highlight">
								Expected Material Qty
							</th>
							<th class="text-center highlight">
								Net Price of SP (€)
							</th>
							<th class="text-center highlight">
								Technical Settings
							</th>
							<th class="text-center highlight">
								Competitor Product
							</th>
							
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let contact of contactFormGroup.controls; let i = index;" [formGroupName]="i">
							<td class="text-center">
								<input type="text"
									class="rexroth-predata-input1 rexroth-table-text inputable hover-demo read-only"
									id="part_number" name="part_number" formControlName="part_number" required readonly>
							</td>
							<td class="text-center">
								<input type="text"
									class="rexroth-predata-input1 rexroth-table-text inputable hover-demo read-only"
									id="description" name="description" formControlName="description" required readonly>
							</td>
							<td class="">
								<!-- <input type="text" class="rexroth-predata-input1 rexroth-table-text inputable" placeholder="Quatity/Year" id="expectedrexqty_unit1" name="expectedrexqty_unit1" formControlName="expectedrexqty_unit1" required> -->
								<div class="col-sm-12 col-md-12">
									<div class="module-input form-group has-placeholder " data-plugin="moduleInput">
										<label for="expectedrexqty_unit1">
											Expected Material Quantity
										</label>
										<div class="input-animation-wrapper">
											<input type="text" id="expectedrexqty_unit1" class="form-control"
												placeholder="Quatity/Year" name="expectedrexqty_unit1"
												data-bouncer-target="#expectedrexqty_unit1-error" required="required"
												formControlName="expectedrexqty_unit1"/>
											<!-- <div *ngIf="submitted && f.expectedrexqty_unit1.errors">
												<div *ngIf="f.expectedrexqty_unit1.errors.required" class="danger">Expected quantity is required.</div>
											</div> -->
											<div class="input-animation"></div>
										</div>
										<div id="expectedrexqty_unit1-error" class="error-message-wrapper"></div>
									</div>
								</div>
							</td>
							<td class="">
								<!-- <input type="text" class="rexroth-predata-input1 rexroth-table-text inputable" placeholder="Net Price of SP" id="nettpriceSI_unit1" name="nettpriceSI_unit1" formControlName="nettpriceSI_unit1" required> -->
								<div class="col-sm-12 col-md-12">
									<div class="module-input form-group has-placeholder " data-plugin="moduleInput">
										<label for="nettpriceSI_unit1">
											Net Price of SP
										</label>
										<div class="input-animation-wrapper">
											<input type="text" id="nettpriceSI_unit1" class="form-control"
												placeholder="" name="nettpriceSI_unit1"
												data-bouncer-target="#nettpriceSI_unit1-error" required="required"
												formControlName="nettpriceSI_unit1" />
											<!-- <div *ngIf="submitted && formgrouparr.nettpriceSI_unit1.errors">
												<div *ngIf="formgrouparr.nettpriceSI_unit1.errors.required" class="danger">Net price of SP is required.</div>
											</div> -->
											<div class="input-animation"></div>
										</div>
										<div id="nettpriceSI_unit1-error" class="error-message-wrapper"></div>
									</div>
								</div>
							</td>
							<td class="">
								<!-- <input type="text" class="rexroth-predata-input1 rexroth-table-text inputable" placeholder="Settings" id="range_unit1" name="range_unit1" formControlName="range_unit1" required> -->
								<div class="col-sm-12 col-md-12">
									<div class="module-input form-group has-placeholder " data-plugin="moduleInput">
										<label for="range_unit1">
											Technical Settings
										</label>
										<div class="input-animation-wrapper">
											<input type="text" id="range_unit1" class="form-control"
												placeholder="Settings" name="range_unit1"
												data-bouncer-target="#range_unit1-error" required="required"
												formControlName="range_unit1"/>
											<!-- <div *ngIf="submitted && f.range_unit1.errors">
												<div *ngIf="f.range_unit1.errors.required" class="danger">Technical settings is required.</div>
											</div> -->
											<div class="input-animation"></div>
										</div>
										<div id="range_unit1-error" class="error-message-wrapper"></div>
									</div>
								</div>
							</td>
							<td class="">
								<!-- <input type="text" class="rexroth-predata-input1 rexroth-table-text inputable" placeholder="Competition" id="competition_unit1" name="competition_unit1" formControlName="competition_unit1" required> -->
								<div class="col-sm-12 col-md-12">
									<div class="module-input form-group has-placeholder " data-plugin="moduleInput">
										<label for="competition_unit1">
											Competitor Product
										</label>
										<div class="input-animation-wrapper">
											<input type="text" id="competition_unit1" class="form-control"
												placeholder="Competition" name="competition_unit1"
												data-bouncer-target="#competition_unit1-error" required="required"
												formControlName="competition_unit1"/>
											<!-- <div *ngIf="submitted && f.competition_unit1.errors">
												<div *ngIf="f.competition_unit1.errors.required" class="danger">Competitor product is required.</div>
											</div> -->
											<div class="input-animation"></div>
										</div>
										<div id="competition_unit1-error" class="error-message-wrapper"></div>
									</div>
								</div>
							</td>
							
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- Submit Form with All Data -->
		<div class="module-button" (click)="SendPrototype()">
			<button type="submit" class="btn btn-secondary"></button>
			<div class="button-animation"></div>
			<div class="button-content">
				<span class="content-text">Submit</span>
			</div>
		</div>
		<div class="module-button" style="margin-left: 15px;" (click)="Goback()">
			<button type="submit" class="btn btn-danger"></button>
			<div class="button-animation"></div>
			<div class="button-content">
				<span class="content-text">Back</span>
			</div>
		</div>
	</form>
</div>