<div class="component-progress-icon loading fixed">
	<div class="spinner-wrapper">
		<svg version="1.1"
			 id="L6"
			 xmlns="http://www.w3.org/2000/svg"
			 xmlns:xlink="http://www.w3.org/1999/xlink"
			 x="0px"
			 y="0px"
			 viewBox="0 0 100 100"
			 enable-background="new 0 0 100 100"
			 xml:space="preserve">
			<circle cx="50"
					cy="50"
					r="46"
					stroke="#002b49"
					stroke-width="8"
					stroke-linecap="square"
					fill="none"
					transform="rotate(0 50 50)">
				<animateTransform attributeName="transform"
								  type="rotate"
								  repeatCount="indefinite"
								  dur="1s"
								  values="0 50 50;180 50 50;360 50 50;"
								  keyTimes="0;0.5;1"></animateTransform>
				<animate attributeName="stroke-dasharray"
						 repeatCount="indefinite"
						 dur="1s"
						 values="72.25663103256524 216.76989309769573;173.41591447815657 115.61060965210439;72.25663103256524 216.76989309769573"
						 keyTimes="0;0.5;1"></animate>
			</circle>
			<circle cx="50"
					cy="50"
					r="34"
					stroke="#00ccff"
					stroke-width="8"
					stroke-linecap="square"
					fill="none"
					transform="rotate(0 50 50)">
				<animateTransform attributeName="transform"
								  type="rotate"
								  repeatCount="indefinite"
								  dur="2s"
								  values="0 50 50;180 50 50;720 50 50"
								  keyTimes="0;0.5;1"></animateTransform>
				<animate attributeName="stroke-dasharray"
						 repeatCount="indefinite"
						 dur="2s"
						 values="21.362830044410593 192.26547039969535;149.53981031087417 64.08849013323177;21.362830044410593 192.26547039969535"
						 keyTimes="0;0.5;1"></animate>
			</circle>
			<circle cx="50"
					cy="50"
					r="22"
					stroke="#df0024"
					stroke-width="8"
					stroke-linecap="square"
					fill="none"
					transform="rotate(0 50 50)">
				<animateTransform attributeName="transform"
								  type="rotate"
								  repeatCount="indefinite"
								  dur="2.5s"
								  values="0 50 50;180 50 50;720 50 50"
								  keyTimes="0;0.5;1"></animateTransform>
				<animate attributeName="stroke-dasharray"
						 repeatCount="indefinite"
						 dur="2.5s"
						 values="6.911503837897544 131.31857292005333;34.55751918948772 103.67255756846316;6.911503837897544 131.31857292005333"
						 keyTimes="0;0.5;1"></animate>
			</circle>
		</svg>
		<span>
			<strong>Searching in progress, please wait ...</strong>
		</span>
	</div>
</div>