<app-admin-navigation></app-admin-navigation>
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="modal-header">
      <h1 class="headline h5 modal-title mx-auto" style="font-weight: bold">
        Responsible Sale unit details
      </h1>
    </div>
  </div>
</nav>

<div class="row">
  <div class="col-md-12 col-sm-6">
    <div style="margin: 20px; padding: 10px">
      <h1>Select Country</h1>
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-5">
          <div class="module-dropdown">
            <div class="input-animation-wrapper">
              <label for="demo-dropdown-1"> Select Country *</label>
              <select
                id="demo-dropdown-1"
                #countryname
                (change)="onChangeCountry(countryname.value)"
                (click)="onChangeCountry(countryname.value)"
                class="custom-select"
                name="demo-dropdown-1"
                data-bouncer-target="#demo-dropdown-1-error"
                required="required"
              >
                <option value="">All Country</option>
                <option
            
                  *ngFor="let country of getAllCountry"

                  [value]="country['country_id']"
                >
                {{country['country_name']}}
                </option>
              </select>
              <div class="input-animation"></div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-5"></div>
        <div class="col-sm-12 col-md-4 col-lg-2">
          <div class="module-button button" (click)="modalToOpen()">
            <button type="button" class="btn btn-secondary"></button>
            <div class="button-animation"></div>
            <div class="button-content">
              <i class="icon icon-dc_add" style="font-weight: bold"></i>
              <span
                class="content-text"
                style="font-weight: 700; user-select: none"
                >Add New</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Sales unit list table start-->
<div class="row">
  <div class="col-md-12 col-sm-12 ">
    <!-- Sales Unit User Table -->
    <div class="module-table table-responsive p-4">
      <table class="table table-hover" width="100%">
        <thead>
          <tr>
            <th class="text-center">Index</th>
            <th class="text-center">Country</th>
            <th class="text-center">Partner's Global ID</th>
            <th class="text-center">Partner Name</th>

            <th class="text-center">Rexroth Eng. Email</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <!--   <tr *ngFor='let data of salesUnitList,let i = index' class="text-center" (click)="modalToOpen1(data.global_customer_number)" > -->
          <tr
            *ngFor="let data of showProducts; let i = index"
            class="text-center"
          >
            <td>
              <span>{{ i + 1 }}</span>
            </td>
            <td>
              <span> {{ data.country_name }}</span>
            </td>
            <td>
              <span> {{data.Global_Customer_ID
              }} </span>
            </td>
            <td>
              <span> {{ data.partner_company_name }}</span>
              <!--  <input type="text" style="text-align: center;" class="form-control"
                    [(ngModel)]="data.solution_partner
                    " *ngIf="data.editable" name="global_customer_number
                    " ngModel/>
 -->
            </td>
            <!--  <td>                  
                    <tr *ngFor="let partner_email of data.partner_email_addresses,let i = index"  class="border-none bg-secondary col-12">
                      <td class="w-full col-1"><span>{{i+1}}</span></td>
                      <td class="w-fullcol-11"><span>{{partner_email}}</span></td>
                      
                    </tr>
                  </td>                
                  -->

            <td>
              <span *ngIf="!data.editable"> {{ data.sdimanager }}</span>

              <input
                type="text"
                style="text-align: center"
                class="form-control"
                [(ngModel)]="data.sdimanager"
                *ngIf="data.editable"
                name="sdimanager"
                ngModel
              />
            </td>

            <td>
              <div
                class="module-button icon"
                (click)="onEditClicked(data)"
                *ngIf="!data.editable"
              >
                <button type="button" class="btn btn-light"></button>
                <div class="button-animation"></div>
                <div class="button-content">
                  <i class="icon icon-dc_edit"></i>
                </div>
              </div>
              <div
                class="module-button icon"
                (click)="modalToOpenPopUp(data)"
                *ngIf="!data.editable"
              >
                <button type="button" class="btn btn-danger"></button>
                <div class="button-animation"></div>
                <div class="button-content">
                  <i class="icon icon-dc_delete"></i>
                </div>
              </div>
              <div
                class="module-button icon"
                (click)="save(data)"
                *ngIf="data.editable"
              >
                <button type="button" class="btn btn-secondary"></button>
                <div class="button-animation"></div>
                <div class="button-content">
                  <i class="icon icon-dc_save"></i>
                </div>
              </div>
              <!--  -->
              <div
                class="module-button icon bg-danger"
                *ngIf="data.editable"
                (click)="close(data)"
              >
                <button type="button" class="btn btn-secondary"></button>
                <div class="button-animation"></div>
                <div class="button-content">
                  <i class="icon icon-dc_close"></i>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
        
      </table>
     
    </div>
       <!-- Pagination Starts -->
       <div class="module-pagination" style="margin-right: 60px;margin-left: 60px; margin-bottom:30px ;" data-plugin="modulePagination">
        <div class="paging-container ">
          <div class="results-per-page">
            <p class="paging-title">Results per page:</p>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <div class="module-button " (click)="onChangeRowsPerPage(10)">
                <a class="btn btn-light btn-sm "></a>
                <div class="button-animation"></div>
                <div class="button-content" [ngClass]="{'active-class': rowsPerPage==10}">
                  <span class="content-text">10</span>
                </div>
              </div>
              <div class="module-button " (click)="onChangeRowsPerPage(15)">
                <a class="btn btn-light btn-sm btn-ghost"></a>
                <div class="button-animation"></div>
                <div class="button-content" [ngClass]="{'active-class': rowsPerPage==15}">
                  <span class="content-text">15</span>
                </div>
              </div>
              <div class="module-button " (click)="onChangeRowsPerPage(20)">
                <a class="btn btn-light btn-sm btn-ghost"></a>
                <div class="button-animation"></div>
                <div class="button-content" [ngClass]="{'active-class': rowsPerPage==20}">
                  <span class="content-text">20</span>
                </div>
              </div>
              <div class="module-button " (click)="onChangeRowsPerPage(500)">
                <a class="btn btn-light btn-sm btn-ghost"></a>
                <div class="button-animation"></div>
                <div class="button-content" [ngClass]="{'active-class': rowsPerPage==100}">
                  <span class="content-text">ALL</span>
                </div>
              </div>
            </div>
          </div>
          <div class="paging">
            <div class="btn-group btn-group-toggle" data-toggle="buttons" >
              <div class="module-button " *ngIf="actualPage !== 1" (click)="onPageChange(actualPage-1)">
                <a class="btn btn-light btn-sm btn-ghost arrow"></a>
                <div class="button-animation"></div>
                <div class="button-content">
                  <i class="icon icon-dc_backward_left"></i>
                </div>
              </div>
              <div class="module-button " *ngIf="actualPage-1>0" (click)="onPageChange(actualPage-1)">
                <a class="btn btn-light btn-sm "></a>
                <div class="button-animation"></div>
                <div class="button-content" style="background-color: white; color: black; border: black;">
                  <span class="content-text" >{{actualPage-1}}</span>
                </div>
              </div>
              <div class="module-button " (click)="onPageChange(actualPage)">
                <a class="btn btn-light btn-sm btn-ghost"></a>
                <div class="button-animation"></div>
                <div class="button-content active-class">
                  <span class="content-text ">{{actualPage}}</span>
                </div>
              </div>
              <div class="module-button hide-mobile" *ngIf="endPaging>=2 && actualPage+1<=endPaging" (click)="onPageChange(actualPage+1)">
                <a class="btn btn-light btn-sm btn-ghost"></a>
                <div class="button-animation"></div>
                <div class="button-content" >
                  <span class="content-text">{{actualPage+1}}</span>
                </div>
              </div>
              <div class="module-button hide-mobile" *ngIf="actualPage-1==0 && endPaging>2" (click)="onPageChange(actualPage+2)">
                <a class="btn btn-light btn-sm btn-ghost"></a>
                <div class="button-animation"></div>
                <div class="button-content" >
                  <span class="content-text">{{actualPage+2}}</span>
                </div>
              </div>
              <!-- <div *ngFor="let number of [3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,10,41,42,43,44,45,46,47]">
                <div class="module-button hide-mobile" *ngIf="actualPage-1==0 && endPaging>2" (click)="onPageChange(actualPage+number)">
                  <a class="btn btn-light btn-sm btn-ghost"></a>
                  <div class="button-animation"></div>
                  <div class="button-content" >
                    <span class="content-text">{{actualPage+number}}</span>
                  </div>
                </div>
              </div> -->
              <!-- <div class="module-button hide-mobile" *ngIf=" showprevnext" (click)="onPageChange(actualPage+2)">
                <a class="btn btn-light btn-sm btn-ghost"></a>
                <div class="button-animation"></div>
                <div class="button-content" >
                  <span class="content-text">{{actualPage+2}}</span>
                </div>
              </div> -->
              <!-- option -->
              <div class="module-button" *ngIf="endPaging>=5">
                <button type="button" class="btn btn-light btn-sm btn-ghost dots" (click)="prevnext()"></button>
                <div class="button-content">
                  <i class="icon icon-dc_options"></i>
                </div>
              </div>
              <!-- option end -->
              <!-- <div class="module-button hide-mobile" *ngIf="showprevnext" (click)="onPageChange(endPaging-2)">
                <a class="btn btn-light btn-sm btn-ghost"></a>
                <div class="button-animation"></div>
                <div class="button-content" >
                  <span class="content-text">{{endPaging-2}}</span>
                </div>
              </div> -->
    
              <div class="module-button " *ngIf="endPaging>=4 && actualPage!=endPaging && actualPage+1!=endPaging" (click)="onPageChange(endPaging)">
                <a  class="btn btn-light btn-sm btn-ghost"></a>
                <div class="button-animation"></div>
                <div class="button-content" >
                  <span class="content-text">{{endPaging}}</span>
                </div>
              </div>
              <div class="module-button " *ngIf="actualPage+1<=endPaging" (click)="onPageChange(actualPage+1)">
                <a class="btn btn-light btn-sm btn-ghost arrow"></a>
                <div class="button-animation"></div>
                <div class="button-content" >
                  <i class="icon icon-dc_forward_right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <!-- End -->
  </div>
  <!-- Test pagination start -->

<!-- Test pagination end -->
</div>

<!--Modal Form for create project row-->

<div class="module-modal modal" data-plugin="moduleModal" id="createproject">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-close">
        <div class="module-button">
          <button
            type="button"
            class="btn btn-link"
            (click)="modalClose()"
          ></button>
          <div class="button-animation"></div>
          <div class="button-content">
            <i class="icon icon-dc_close"></i>
          </div>
        </div>
      </div>
      <div class="modal-header">
        <p class="headline h5 modal-title">Create New Responsible Data</p>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="row">
            <!-- ........start.............. -->

            <div class="col-lg-12 col-md-12 col-sm-12">
              <!--  <div class="module-dropdown">
      <div class="input-animation-wrapper">
        <label for="demo-dropdown-1"> Select Country *</label>
        <select id="demo-dropdown-1" #countryname (change)="onchangecountry(countryname.value);search(countryname.value, 'partner')" (click)="onchangecountry(countryname.value);search(countryname.value, 'partner')" class="custom-select " name="demo-dropdown-1" data-bouncer-target="#demo-dropdown-1-error" required="required">
            <option value="">--- Please select ---</option>
            <option [value]="country.location" *ngFor = "let country of country">{{country.location}}</option>
          </select>
        <div class="input-animation"></div>
      </div>
    </div> -->
              <div class="module-dropdown">
                <div class="input-animation-wrapper">
                  <label for="demo-dropdown-1"> Select Country *</label>
                  <select
                    id="demo-dropdown-1"
                    #country_sp
                    formControlName="sp_location"
                    (change)="onCountryChange(country_sp.value)"
                    class="custom-select"
                    name="demo-dropdown-1"
                    data-bouncer-target="#demo-dropdown-1-error"
                    required="required"
                  >
                    <option value="">--- Please select ---</option>
                    <option
                      *ngFor="let country of spCountryList"
                      [value]="country.location"
                      [selected]="country.selected == true"
                    >
                      {{ country.location }}
                    </option>
                  </select>
                  <p
                    *ngIf="
                      formValue.get('sp_location')?.invalid &&
                      formValue.get('sp_location')?.touched
                    "
                    class="danger"
                  >
                    Please select country.
                  </p>
                  <div
                    id="demo-dropdown-1-error"
                    class="error-message-wrapper"
                  ></div>
                  <div class="input-animation"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="module-dropdown">
                <div class="input-animation-wrapper">
                  <label for="demo-dropdown-1">
                    Select Solution Partner *</label
                  >
                  <select
                    id="demo-dropdown-1"
                    #solutionname
                    formControlName="sp_name"
                    class="custom-select"
                    name="demo-dropdown-1"
                    data-bouncer-target="#demo-dropdown-1-error"
                    required="required"
                  >
                    <option value="">--- Please select ---</option>
                    <option
                      [value]="spname.partner_company_name"
                      *ngFor="let spname of solution_partner"
                    >
                      {{ spname.partner_company_name }}
                    </option>
                  </select>
                  <p
                    *ngIf="
                      formValue.get('sp_name')?.invalid &&
                      formValue.get('sp_name')?.touched
                    "
                    class="danger"
                  >
                    Please select country.
                  </p>
                  <div
                    id="demo-dropdown-1-error"
                    class="error-message-wrapper"
                  ></div>
                  <div class="input-animation"></div>
                </div>
              </div>
            </div>
            <!-- ........end.............. -->

            <div class="col-12">
              <div
                class="module-input form-group has-placeholder"
                data-plugin="moduleInput"
              >
                <label for="demo-default-input-2"> Email Address * </label>
                <div class="input-animation-wrapper">
                  <input
                    type="text"
                    id="demo-default-input-2"
                    class="form-control"
                    value=""
                    placeholder="Enter Email Address "
                    name="demo-default-input-2"
                    data-bouncer-target="#demo-default-input-2-error"
                    required="required"
                    formControlName="sp_email"
                  />
                  <div>
                    <div
                      *ngIf="
                        formValue.get('sp_email')?.invalid &&
                        formValue.get('sp_email')?.touched
                      "
                      class="danger"
                    >
                      Email Address is required.
                    </div>
                  </div>
                  <div class="input-animation"></div>
                </div>
                <div
                  id="demo-default-input-2-error"
                  class="error-message-wrapper"
                ></div>
              </div>
            </div>

            <div class="col-12">
              <div class="module-button-group">
                <div class="module-button" (click)="OnSubmitNewData()">
                  <button type="submit" class="btn btn-secondary"></button>
                  <div class="button-animation"></div>
                  <div class="button-content">
                    <span class="content-text">Submit</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Message -->
<div
  class="module-modal modal modal-dark modal-danger"
  id="messagebox"
  data-plugin="moduleModal"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-close">
        <div class="module-button">
          <button
            type="button"
            class="btn btn-link"
            (click)="deletemodelclose()"
          ></button>
          <div class="button-animation"></div>
          <div class="button-content">
            <i class="icon icon-dc_close" style="color: white"></i>
          </div>
        </div>
      </div>
      <div
        class="modal-header"
        style="
          padding-top: 15px;
          padding-bottom: 15px;
          background-color: #36a8e1;
        "
      >
        <p class="headline h5 modal-title" style="color: white">Are you sure you want to delete?</p>
      </div>
      <div class="modal-body">
        <p style="font-size: 20px">
          {{ message }}
        </p>
        <div class="col-12 d-flex justify-content-center gap-2">
          <div class="module-button mr-2">
            
            <button
              type="button"
              class="btn btn-success"
              (click)="deleteRow()"
            ></button>
            <div class="button-animation"></div>
             
              <div class="button-content">
                <span class="content-text ">CONFIRM</span>
              </div>
           
          </div>
          <div class="module-button">

            <button
              type="button"
              class="btn btn-primary"
              (click)="deletemodelclose()"
            ></button>
            <div class="button-animation"></div>
             
              <div class="button-content">
                <span class="content-text">CANCEL</span>
              </div>
           
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<!-- Sales unit list table end-->

<!-- Modal for specific table data start -->
<div class="module-modal modal" data-plugin="moduleModal" id="tableData">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-close">
        <div class="module-button">
          <button
            type="button"
            class="btn btn-link"
            (click)="modalClose1()"
          ></button>
          <div class="button-animation"></div>
          <div class="button-content">
            <i class="icon icon-dc_close"></i>
          </div>
        </div>
      </div>
      <div class="modal-header">
        <p class="headline h5 modal-title">Responsible Sales Unit Contact</p>
      </div>
      <div class="modal-body">
        <!-- <form [formGroup]="formValue">
                <div class="row">
                    <div class="col-12">
                        <div class="module-input form-group has-placeholder"
                            data-plugin="moduleInput">
                            <label for="demo-default-input-1"> Solution partner name * </label>
                            <div class="input-animation-wrapper">
                                <input type="text" id="demo-default-input-1" class="form-control"
                                    value="" placeholder="Enter Solution partner name"
                                    name="demo-default-input-1"
                                    data-bouncer-target="#demo-default-input-1-error"
                                    required="required" formControlName="sp_name"
                                    />
                              
                                <div >
                                  <div *ngIf="formValue.get('sp_name')?.invalid && formValue.get('sp_name')?.touched" class="danger">
                                    Solution partner name is required.</div>
                                </div>
                                <div class="input-animation"></div>
                            </div>
                            <div id="demo-default-input-1-error" class="error-message-wrapper">
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="module-input form-group has-placeholder"
                            data-plugin="moduleInput">
                            <label for="demo-default-input-2"> Email Address * </label>
                            <div class="input-animation-wrapper">
                                <input type="text" id="demo-default-input-2" class="form-control"
                                    value="" placeholder="Enter Email Address "
                                    name="demo-default-input-2"
                                    data-bouncer-target="#demo-default-input-2-error"
                                    required="required" formControlName="sp_email"
                                    />
                                
                                <div >
                                    <div *ngIf="formValue.get('sp_email')?.invalid && formValue.get('sp_email')?.touched" class="danger">
                                      Email Address  is required.</div>
                                </div>
                                <div class="input-animation"></div>
                            </div>
                            <div id="demo-default-input-2-error" class="error-message-wrapper">
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                          <div class="col-12">
                            <div class="module-dropdown   ">
                              <div class="input-animation-wrapper">
                                <label for="demo-dropdown-1"> Select Country *</label>
                                <select id="demo-dropdown-1" #countryname (change)="onChangeCountry(countryname.value)" (click)="onChangeCountry(countryname.value)" class="custom-select " name="demo-dropdown-1" data-bouncer-target="#demo-dropdown-1-error" required="required" formControlName="sp_location">
                                  <option value="">--- Please select ---</option>
                                  <option [value]="country" *ngFor = "let country of uniqueCountryList">{{country}}</option>
                                </select>
                                <div *ngIf="formValue.get('sp_location')?.invalid && formValue.get('sp_location')?.touched" class="danger">
                                  Select country is required.</div>
                            
                                <div class="input-animation"></div>
                              </div>
                            </div>
                          </div>
                       
                    </div>
            
                     
                    </div>
                    <div class="col-12">
                        <div class="module-button-group">
                            <div class="module-button" (click)="OnSubmitNewData()">
                                <button type="submit" class="btn btn-secondary"></button>
                                <div class="button-animation"></div>
                                <div class="button-content">
                                    <span class="content-text">Submit</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>  -->
        <ul>
          <li>Soltion Partner Name:</li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Modal Message -->
<!-- <div
  class="module-modal modal modal-dark modal-danger"
  id="messagebox"
  data-plugin="moduleModal"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-close">
        <div class="module-button">
          <button
            type="button"
            class="btn btn-link"
            (click)="deletemodelclose()"
          ></button>
          <div class="button-animation"></div>
          <div class="button-content">
            <i class="icon icon-dc_close" style="color: white"></i>
          </div>
        </div>
      </div>
      <div
        class="modal-header"
        style="
          padding-top: 15px;
          padding-bottom: 15px;
          background-color: #00ccff;
        "
      >
        <p class="headline h5 modal-title" style="color: white">Are You Sure You want To Delete?</p>
      </div>
      <div class="modal-body">
        <p style="font-size: 20px">
          {{ message }}
        </p>
        <div class="col-12" style="text-align: right; padding-right: 0">
          <div class="module-button fasttrack">
            <button
              type="button"
              class="btn btn-primary"
              (click)="deletemodelclose()"
            ></button>
            <div class="button-animation"></div>
            <div class="button-content">
              <span class="content-text">CLOSE</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Modal for specific table data end -->

<div class="footer">
  <app-footer></app-footer>
</div>
